<h1>Editing course</h1>

<%= render 'form' %>

<div class="mod-menu">
<%= link_to image_tag('show.png')+'Show', @course, class: 'btn' %> |
<%= link_to image_tag('back.png')+'Back', courses_path, class: 'btn' %>
</div>
