
<div id="content-left">
  <div id="introduction">
    <h1>Willkommen auf der KAMA-Website!</h1>
  </div>
  
  <div id="calendar" <% if can? :create, Course %> data-instructor="true" <% end %> ></div>

  <% if can? :create, Course %><span class="fc-mod-link"><%= link_to image_tag('new.png')+'New Course', new_course_path, class: 'btn' %></span><% end %>
</div>

<div id="content-right">
  Hier sollen Blog-Eintraege hin!
</div>

<% content_for :head do %>
  <%= stylesheet_link_tag 'fullcalendar' %>
  <%= stylesheet_link_tag 'fullcalendar.print' %>
  <%= javascript_include_tag 'fullcalendar' %>
<% end %>
