
<div id="welcome_content">
  <div id="introduction">
    <h1>Willkommen auf der KAMA-Website!</h1>
  </div>
  
  <div id="calendar"></div>

  <%= link_to 'New Course', new_course_path %>
</div>

<div id="news">
  Hier sollen Blog-Eintraege hin!
</div>

<% content_for :head do %>
  <%= stylesheet_link_tag 'fullcalendar' %>
  <%= stylesheet_link_tag 'fullcalendar.print' %>
  <%= javascript_include_tag 'fullcalendar.min' %>
<% end %>
