<div id="locationPickerMap" style="width:600px; height:500px"></div>
<input id="remember_checkbox" type="checkbox" /> Diesen Ort f&uuml;r zuk&uuml;nftige Veranstaltungen merken</input>
<div id="remember">
  Name: <input />
</div>
