/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// @import "datetimepicker"; // what is this for??? (was added automatically)

// ---------------------
// ----- structure -----
// ---------------------

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
p, ol, ul, td {
  padding: 0;
}

#header {
  overflow: hidden;
}
#header-logo {
  margin-left: 20px;
  height: 100px;
}

#footer {
  clear: both;
  width: 100%;
  height: 30px;
  padding: 10px 0px;
}

#content {
  padding: 20px;
  padding-bottom: 50px;
  height: 100%;
}

#content-left {
  float: left;
  width: 60%;
  min-width: 400px;
}
#content-right {
  min-width: 200px;
  padding: 20px 0px 20px 20px;
  overflow: hidden;
}
#content-left, #content-right {
  margin-bottom: 20px;
}

.clearer {
  clear: both;
}

#notice, #alert {
  position: relative;
  padding: 5px 30px;
}

// set min width for whole page
body, #header, #footer {
  min-width: 440px;
}

// ---------------------
// ------- menu --------
// ---------------------

#navWrapper {
  position: static;
  z-index: 100;
  height: 30px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

#navbar {
  position: relative;
  margin: 0px;
  padding-left: 20px;
  display: block;
  font-weight: bold;
}

#navbar ul {
  display: block;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#navbar li, #login, #login-small {
  display: block;
  float: left;
  padding: 6px 10px 5px;
}

#navLogo {
  position: absolute;
  right: 20px;
  margin-top: 5px;
  height: 20px;
  width: 200px;
  display: none;
}

// ----- login ------
#login, #login-small {
  float: right;
}

ul#login {
  display: none;
  margin-bottom: 2px;
}

#login-small li {
  padding: 5px 10px 0px;
}

// ---------------------
// ----- forms etc -----
// ---------------------

form {
  max-width: 500px;
  margin-bottom: 10px;
}
input, textarea {
  padding: 3px;
  vertical-align: baseline;
}

form .field, form fieldset {
  margin-bottom: 10px;
}
form .actions {
  text-align: right;
}

.field input[type="text"], .field textarea {
  width: 400px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.mod-menu {
  clear: both;
  padding: 10px 3px;
  margin-top: 10px;
  border-top: 1px solid #EEE;
}

.btn {
  padding: 5px 10px 5px 5px;
  margin: 5px 0px;
  font-weight: bold;
  font-size: .9em;
}
img.btn {
  padding: 5px;
}

.btn img {
  position: relative;
  top: 3px;
  margin-right: 3px;
}

// ---------------------
// ------- misc --------
// ---------------------

.shadow {
  -moz-box-shadow: 0 2px 2px 0 #888;
  -webkit-box-shadow: 0 2px 2px 0 #888;
  box-shadow: 0 2px 2px 0 #888;
}
