/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// @import "datetimepicker"; // what is this for??? (was added automatically)

// ---------------------
// ----- structure -----
// ---------------------

body {
    margin: 0px;
    padding: 0px;
}

#header {
}

#content {
    padding: 20px;
}

#welcome_content {
    float: left;
    width: 70%;
    min-width: 400px;
    padding: 10px;
}

#news {
    min-width: 200px;
    padding: 10px;
}

.clearer {
    clear: both;
}

#notice, #alert {
    position: relative;
    padding: 5px 30px;
}

// ---------------------
// ------- menu --------
// ---------------------

#navWrapper {
    position: static;
    z-index: 100;
    height: 30px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#navbar {
    position: relative;
    margin: 0px;
    padding-left: 20px;
    display: block;
    font-weight: bold;
}

#navbar ul {
    display: block;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

#navbar li {
    display: block;
    float: left;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#navLogo {
    position: absolute;
    right: 20px;
    margin-top: 5px;
    height: 20px;
    width: 200px;
    display: none;
}

// ---------------------
// ------ colors -------
// ---------------------

body {
    background-color: #F3FFC4;
}

#navWrapper {
    background-color: #E7D490;
}
#navbar li:hover {
    background-color: #D1B44E;
}
#navbar a, #navbar a:visited, #navbar a:hover {
    color: #6C580E;
    text-decoration: none;
}

#notice, #alert {
    background-color: #FFE500;
}


// ---------------------
// ------- misc --------
// ---------------------

.shadow {
  -moz-box-shadow: 0 2px 2px 0 #888;
  -webkit-box-shadow: 0 2px 2px 0 #888;
  box-shadow: 0 2px 2px 0 #888;
}

.btn {
  position: relative;
  top: 3px;
  margin-right: 3px;
}
