
// ----- general ------

body {
  background-color: #FFF;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #8E792F;
  text-decoration: none;
  &:visited {
    color: #6C580E;
  }
  &:hover {
    text-decoration: underline;
  }
}

#notice, #alert {
  background-color: #FFE500;
}
#notice {
  color: green;
}

#footer {
  text-align: center;
  background-color: #E7D490;
}

// ----- navigation ------

#navWrapper, #login, #login-small {
  background-color: #E7D490;
}
#header {
  background-color: #FFFAE4;
}
#navbar li:hover {
  background-color: #D1B44E;
}
#navbar li#login-status:hover {
  background-color: #E7D490;  
}
#navbar a, #navbar a:visited, #navbar a:hover {
  color: #6C580E;
  text-decoration: none;
}

// ----- forms etc ------

/* form {
  padding: 10px;
  border: 3px dashed #E7D490;
} // */

input, textarea, #calendar .fc-button, .btn, .input-append .add-on, .input-prepend .add-on {
  border: 1px solid #E7D490;
  border-radius: 2px;
  background: #FFFAE4;
}
input[type=text]:focus, textarea:focus {
    border: 2px solid #E7D490;
    padding: 2px;
}
.actions input, #calendar .fc-button, .btn, .input-append .add-on, .input-prepend .add-on {
  color: #6C580E;
  font-weight: bold;
  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  &:hover {
  text-decoration: none;
  }
}

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

// ----- calendar/events ------

#calendar .fc-day-header{
  background-color: #E7D490;
  border: 0px;
}

#calendar .fc-day:hover {
  background-color: #FFFDE8;
}

#calendar .fc-today {
  background-color: #FFFABE;
}

.edit_course fieldset {
  border-bottom: #6C580E;
}

.course-desc {
  border-left: 2px solid #E7D490;
}
