// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ---------------------
// --- calendar view ---
// ---------------------

#calendar {
  width: 90%;
  margin-top: 40px;
}

#calendar .fc-day {
  padding: 5px;
}
#calendar .fc-day-header {
  padding: 2px;
}

#calendar .fc-day-handlers {
  float: right;
  display: block;
  visibility: hidden;
}
#calendar td.fc-day:hover .fc-day-handlers {
  visibility: visible;
}

.fc-mod-link {
  float: right;
  margin: 10px 100px 0px 0px;
}

// ------ colors -------

#calendar .fc-day-header{
  background-color: #E7D490;
  border: 0px;
}
#calendar .fc-day:hover {
  background-color: #FFFDE8;
}
#calendar .fc-today {
  background-color: #FFFABE;
}

// ---------------------
// ----- edit view -----
// ---------------------

.edit_course fieldset {
  border: 0px;
  border-bottom: 1px solid #6C580E;
}

